 <footer >
       
        
        <ul>
        <li class=" hvr-grow"><a href="https://www.reaticle.com"> <i class="iconfont icon-reaticle-logo"></i>&nbsp;Reaticle.com</a></li>

        <li class=" hvr-grow"><a href="mailto:{{ site.email }}"><i class="iconfont icon-mail-fill"></i> &nbsp;{{ site.email }}</a></li>
        <li class="social_icon">
          <a class="hvr-pulse-grow" href="https://github.com/TREYWANGCQU"><i class="iconfont icon-GitHub"></i> </a>
          <a class="hvr-pulse-grow" href="https://www.researchgate.net/profile/Yang-Wang-283"><i class="iconfont icon-researchgate"></i> </a>
          <a class="hvr-pulse-grow" href="https://space.bilibili.com/82645883"><i class="iconfont icon-bilibili-fill"></i> </a>
          <a class="hvr-pulse-grow" href="https://t.me/reaticle"><i class="iconfont icon-telegram-fill"></i> </a>
        </li>
        </ul>
        <p><small><i class="iconfont icon-copyright-fill"></i> &nbsp;2021&nbsp;  All rights reserved </i></small></p>
      </footer>
