 <footer >
       
        
        <ul>
        <p class=" hvr-grow"><a href="{{ site.github.repository_url }}"><i class="fas fa-code-branch"></i> &nbsp; This repository</a></p>
        <br>
        <p class=" hvr-grow"><a href="{{ site.github.owner_url }}"><i class="fab fa-github"></i> &nbsp; My GitHub</a></p>
        <br>
        <p class=" hvr-grow"><a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i> &nbsp;{{ site.email }}</a></p>
        <p><small><i class="fas fa-copyright"></i> &nbsp;2021&nbsp;  All rights reserved </i></small></p>
      </footer>
