---
layout: default
---

{% if page.lang %}
<div class="post" lang="{{page.lang}}">
{% else %}
<div class="post">
{% endif %}

<h1>{{ page.title }}</h1>
<div class="meta meta-text">
  <ul>
    <li>   <i class="iconfont icon-calendar"></i>&nbsp;Date:&nbsp;{{ page.date | date: "%A, %-d-%m-%Y" }} </li>
    <li> <i class="iconfont icon-pen-nib-fill"></i>&nbsp;Author:&nbsp;  {{ page.author | default: site.author }}    </li>
  </ul>
 </div>
<div class="meta meta-tags"><i class="iconfont icon-bookmark-fill"></i>&nbsp;tags:
  {% for tag in page.tags %}
    <a href="/tag/{{ tag }}"> {{ tag }}</a>
  {% endfor %}</div>

  <div class="post-content">
    <hr>
    {{ content }}
  </div>
  




  
</div>
