---
layout: default
---

{% comment %}
========================
Tag Title
========================
{% endcomment %}

{% if page.tag %}
<h1 class="tag-title">
  <i class="iconfont icon-bookmark-fill"></i>
  &nbsp;Tag: {{ page.tag }}
</h1>
<hr>
{% endif %}

{% comment %}
========================
Posts under current tag
========================
{% endcomment %}

{% assign tagged_posts = site.tags[page.tag] %}

{% if tagged_posts and tagged_posts.size > 0 %}
  {% for post in tagged_posts %}
    <div class="blog-post">
      <div class="post-side-meta">
        <span class="day">{{ post.date | date: "%d" }}</span>
        <span class="month">{{ post.date | date: "%b" }}</span>
      </div>

      <div class="post-header">
        <h2>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>

        <span class="meta-tags float-left">
          <i class="iconfont icon-bookmark-fill"></i>
          {% for t in post.tags %}
            <a href="/tag/{{ t | url_encode }}">{{ t }}</a>
          {% endfor %}
        </span>

        <span class="float-right">
          <i class="iconfont icon-calendar"></i>
          {{ post.date | date: "%Y-%m-%d" }}
        </span>
      </div>
    </div>
  {% endfor %}
{% elsif page.tag %}
  <p>暂无相关文章。</p>
{% endif %}

{% comment %}
========================
Tag Archive (All tags)
========================
{% endcomment %}

<h1><i class="iconfont icon-archive"></i> Archive</h1>
<hr>

<div class="meta-tags">

{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}
  {% endfor %}
{% endcapture %}

{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}

{% for temptag in sortedtemptags %}
  {% assign tagname = temptag | split:'#' | last %}
  <a href="/tag/{{ tagname | url_encode }}">{{ tagname }}</a>
{% endfor %}

</div>
